<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<body>
<nav th:fragment="nav" class="navbar navbar-expand-lg navbar-dark bg-dark text-light">
    <a class="navbar-brand">Company Name</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">Navigation</a>
                <div class="dropdown-menu" aria-labelledby="dbDropdown">
                    <div class="dropdown-header">Workflow frontend navigation</div>
                    <a sec:authorize="hasAuthority('client.read')" class="dropdown-item" href="/authenticated">Landing page</a>
                    <a sec:authorize="hasAuthority('client.read')" class="dropdown-item" href="/userPage">View DB user records</a>
                    <a sec:authorize="hasAuthority('admin.create')" class="dropdown-item" href="/adminPage">Edit DB user records</a>
                    <a sec:authorize="hasAuthority('client.read')" class="dropdown-item" th:href="@{/testRecord}">TestRecord CRUD page</a>
                    <div class="dropdown-divider"></div>
                    <div class="dropdown-header">Other options</div>
                    <a class="dropdown-item" th:href="@{/logout}">Logout</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
</body>
</html>