<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/header :: baseHead(~{::title})">
    <title>Update/delete test record</title>
</head>
<body>
<nav th:replace="fragments/navNoSearch :: nav"></nav>
<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

<!-- HTML5 does not handle PUT or DELETE so note the workarounds in this template -->

<div class="container">
    <div class="row">
        <div class="row-md-12">
            <h1>Update/delete a testRecord</h1>
            <p><b>Your username:</b> <span sec:authentication="name"></span></p>

            <!--/*@thymesVar id="testRecord" type="company.model.TestRecord"*/-->
            <form th:object="${testRecord}"
                  th:action="@{/{clientID}/updateTestRecord/{testRecordID}(
                  clientID=${client.getId()}, testRecordID=${testRecord.id})}"
                  method="post"
                  sec:authorize="hasAuthority('client.update')">

                <div>
                    <p th:text="${'TestRecord ID: ' + testRecord.id}"></p>
                </div>

                <!--/*@thymesVar id="client" type="company.model.security.User"*/-->
                <div th:object="${client}">
                    <p th:text="${'Client ID: ' + client.getId()}"></p>
                </div>

                <div th:object="${client}">
                    <p th:text="${'Client (owner) username: ' + client.getUsername()}"></p>
                </div>

                <div>
                    <label>
                        <input size="50" th:placeholder="${testRecord.recordName}" th:field="*{recordName}"/>
                    </label>
                    <span class="help-block">
                        <!--/*@thymesVar id="error" type="java.lang.String"*/-->
                        <p class="alert-warning" th:text="${error}">Error</p>
                    </span>
                </div>

                <div>
                    <label>
                        <input type="hidden" name="_method" value="put"/>
                        <input style="width: 200px" th:type="submit" value="Update"/>
                    </label>
                </div>
            </form>
            <hr>
            <!--/*@thymesVar id="testRecord" type="company.model.TestRecord"*/-->
            <form th:object="${testRecord}"
                  th:action="@{/deleteTestRecord/{testRecordID}(testRecordID=${testRecord.id})}" method="post"
                  sec:authorize="hasAuthority('client.delete')">
                <input style="width: 200px" th:type="submit" value="Delete"/>
                <input type="hidden" name="_method" value="delete"/>
            </form>
        </div>
    </div>
</div>

<footer th:replace="fragments/footer :: footer"></footer>

</body>
</html>